/*!
 * Atelier 601 / Évolution Positive 85  - Creative v5.0.3 (https://atelier601.com)
 * Copyright 2019
 */

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 80px;
  border-width: 3px;
  border-color: #800080;
}

hr.light {
  border-color: #fff;
}

a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #ec5aec;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h4 {
  font-family: 'Dancing Script', cursive;
  color: #ec5aec;
  font-size: 2rem;
  padding-top: 5px;
}


.bg-primary {
  background-color: #800080;
}

.bg-primary2 {
  background-color: rgb(128, 0, 128, 0.7);

}

.bg-secondary {
  background-color: #ec5aec;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 3rem 0;
}

.section-heading {
  margin-top: 0;
}

.section-heading2 {
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
  margin-top: 0;
  color: #FFF;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #800080;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav #mainNav .navbar-brand:hover {
  color: #800080;
}


#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: #800080;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: #800080 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #800080;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #800080;
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #800080;
  }

  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #800080;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #800080;
  }
}

header.masthead {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/visuel-rigologie-acceuil.jpg");
  background-position: center center;
  background-size: cover;
}


header.presentation {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/bg-presentation.jpg");
  background-position: center center;
  background-size: cover;
}


header.public {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/public-bg.jpg");
  background-position: center center;
  background-size: cover;
}


header.agenda {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/agenda-bg.jpg");
  background-position: center center;
  background-size: cover;
}

header.contact {
  padding-top: 8rem;
  padding-bottom: calc(20rem - 0px);
  background-image: -webkit-gradient(linear,
    left top, left bottom,
    from(rgba(3, 3, 3, 0.9)),
    to(rgba(39, 38, 38, 0.0))), url("../img/contact-bg.jpg");
  background-image: linear-gradient(rgba(3, 3, 3, 0.9),
    rgba(39, 38, 38, 0.0)), url("../img/contact-bg.jpg");
  background-position: center center;
  background-size: cover;
}




header.masthead hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

header.masthead h1 {
  font-size: 2rem;

}

header.masthead p {
  font-weight: 300;
  font-size: 32px !important;
  color: #fff;
  font-style: italic;
}


header.presentation p {
  font-weight: 300;
  font-size: 32px !important;
  color: #fff;
  font-style: italic;
}

header.masthead p span {
  font-weight: 700;
  color: #800080;
  font-size: 40px !important;
}

header.presentation p span {
  font-weight: 700;
  color: #800080;
  font-size: 40px !important;
}


@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(128, 0, 128, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #800080 !important;
}

.button i {
  font-size: 40px;
  margin-top: 40px;
  color: #fff;
}




.button2 {
  font-size: 20px;
  color: #fff;
  border-radius: 3px;
  margin-top: 0px;
}

.button3 {
  font-size: 20px;
  color: #fff;
  border-radius: 3px;
  margin-top: 0px;
  background-color: #800080;
  border: 2px solid #800080;

}

.button3:hover {
  color: #800080;
  border-radius: 3px;
  border: 2px solid #800080;
  background-color: #fff;
  transition: 1s;

}



.button2:hover {
  font-size: 20px;
  color: #ec5aec;
  border-radius: 3px;
  margin-top: 0px;
}

.button2 i {
  font-size: 40px;
  color: #800080;
  margin-top: 0px;
}


.button i:hover {
  font-size: 40px;
  margin-top: 40px;
  color: #800080;
}

.button2 i:hover {
  font-size: 40px;
  color: #212529;
  margin-top: 0px;
}



/*! Additionnal css */

.title-anim {
  animation-duration: 1s;
  animation-name: bounce;
}

@keyframes bounce {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}



.action {
  padding-left: 200px;
}

.action-text {
  padding-left: 60px;
}

.text-capitalize {
  font-size: 6vw;
}

.header-title-purple {
  font-family: 'Dancing Script', cursive;
  color: #800080;
  font-size: 6vw;
}

.header-title-white {
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 6vw;
}

.video-conteneur {
  position: relative !important;
  padding-bottom: 37.98% !important;
  height: 0 !important;
  overflow: hidden !important;
}

.video-conteneur iframe,
.video-conteneur object,
.video-conteneur embed {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 20px;
}

.img-service {
  border-radius: 50%;
}

.img-left {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 7px 0px #FFF;
  box-shadow: 0px 0px 7px 0px #FFF;
}

.img-publique {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 7px 0px #800080;
  box-shadow: 0px 0px 7px 0px #800080;
}



.produits-plus {
  margin-bottom: 25px;
}

.footer {
  background-color: #130013;
}

.text-footer {
  background-color: #130013;
  color: #FFF;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
}

.text-footer span {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
}

.externe a {
  color: #800080;
  font-weight: 900;
}

.externe a:hover {
  color: #212529;
  font-weight: 900;
}

.heading2 {
  padding-top: 20px;
  color: #800080;
}


.list1 {
  list-style-type: none;
  color: #800080;
}

.list1 i {
  color: #800080;
  font-size: 20px;
}

.active {
  color: #800080;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 10px;

}

.text-entreprise {
  padding-left: 20px;
}


.h3-purple {
  color: #800080;
  padding-left: 60px;
}

/*! AGENDA */



.pack {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.pack span {
  font-weight: 200;
  font-size: 70%;
  position: relative;
  bottom: 7px;
  left: 3px;

}


.pack h3 {
  font-weight: 700;
  font-size: 140%;
  text-align: center;
  color: #fff;
  background-color: #800080;
  text-transform: uppercase;
  padding: 20px 60px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.pack h2 {
  font-weight: 400;
  font-size: 150%;
  text-align: center;
  color: #800080;
}

.pack p {
  font-weight: 600;
  font-size: 110%;
  text-align: center;
  color: #312e2e;
  border-bottom: 1px solid rgb(151, 151, 151);

}



.pack-content ul {
  list-style: none;
  padding: 20px;
  font-weight: 400;
  font-family: font-family: 'Open Sans', sans-serif;
}


.pack-content ul li i {
  font-size: 110%;
  margin-right: 10px;
  color: #800080;

}

.pack-content ul li {
  font-size: 110%;
  margin-right: 10px;
  color: #312e2e;
  font-family: 'Open Sans', sans-serif;

}

.pack-content h3 {
  font-size: 110%;
  margin-right: 10px;
  color: #800080;
  font-family: 'Open Sans', sans-serif;

}




#badge {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 10px;
  right: 290px;
  font-size: 105%;
  background-color: #f78e06;
  color: #fff;
  padding: 3px;
  border-radius: 2px;
  font-weight: 700;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.sub-title-agenda {
  font-size: 18px;
  padding-bottom: 20px;
  color: #312e2e;
}

.course-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #800080;
  font-size: 160%;
  padding: 5px;
  border: 1px solid #800080;
  margin-bottom: 30px;
}


.course-title2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #800080;
  font-size: 160%;
  padding: 5px;
  border: 1px solid #800080;
  margin-bottom: 30px;
}

.contact-title {
  font-weight: 800;
}


.contact-text {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 120%;
}

.contact-phone {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  line-height: 120%;
}

.date-title{

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #800080;

}

.salon-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  background-color: #800080;

}